@page "/wordiiie"

<head>
    <link href="~/css/app.css" rel="stylesheet" />
</head>

<div style="height:100%" class="text-center docRef" tabindex="0" @ref="docRef" @onkeydown=" KeyboardEventHandler ">
    <h1 class="display-4">WordIIIe</h1>
    <p id="guessResult">@guessResult</p>

    @*@foreach (var item in attemptedGuesses)
        {
            @item
            <br />
        }*@

    @*<div>
            <span id="TextInputGuess" type="text"> @guess </span>
        </div>*@

    @*<div>
            <p id="Attempt2">_____</p>
            <p id="Attempt3">_____</p>
            <p id="Attempt4">_____</p>
            <p id="Attempt5">_____</p>
            <p id="Attempt6">_____</p>
        </div>*@

    <div>
        <span class="background-letter @classw0g0c0" id="TextGuess0Char0" type="text"> @w0g0c0 </span>
        <span class="background-letter @classw0g0c1" id="TextGuess0Char1" type="text"> @w0g0c1 </span>
        <span class="background-letter @classw0g0c2" id="TextGuess0Char2" type="text"> @w0g0c2 </span>
        <span class="background-letter @classw0g0c3" id="TextGuess0Char3" type="text"> @w0g0c3 </span>
        <span class="background-letter @classw0g0c4" id="TextGuess0Char4" type="text"> @w0g0c4 </span>

        @*empty block*@
        <span class="background-letter"></span>

        <span class="background-letter @classw1g0c0" id="TextGuess0Char0" type="text"> @w1g0c0 </span>
        <span class="background-letter @classw1g0c1" id="TextGuess0Char1" type="text"> @w1g0c1 </span>
        <span class="background-letter @classw1g0c2" id="TextGuess0Char2" type="text"> @w1g0c2 </span>
        <span class="background-letter @classw1g0c3" id="TextGuess0Char3" type="text"> @w1g0c3 </span>
        <span class="background-letter @classw1g0c4" id="TextGuess0Char4" type="text"> @w1g0c4 </span>

        @*empty block*@
        <span class="background-letter"></span>

        <span class="background-letter @classw2g0c0" id="TextGuess0Char0" type="text"> @w2g0c0 </span>
        <span class="background-letter @classw2g0c1" id="TextGuess0Char1" type="text"> @w2g0c1 </span>
        <span class="background-letter @classw2g0c2" id="TextGuess0Char2" type="text"> @w2g0c2 </span>
        <span class="background-letter @classw2g0c3" id="TextGuess0Char3" type="text"> @w2g0c3 </span>
        <span class="background-letter @classw2g0c4" id="TextGuess0Char4" type="text"> @w2g0c4 </span>
    </div>

    <div>
        <span class="background-letter @classw0g1c0" id="TextGuess1Char0" type="text"> @w0g1c0 </span>
        <span class="background-letter @classw0g1c1" id="TextGuess1Char1" type="text"> @w0g1c1 </span>
        <span class="background-letter @classw0g1c2" id="TextGuess1Char2" type="text"> @w0g1c2 </span>
        <span class="background-letter @classw0g1c3" id="TextGuess1Char3" type="text"> @w0g1c3 </span>
        <span class="background-letter @classw0g1c4" id="TextGuess1Char4" type="text"> @w0g1c4 </span>

        @*empty block*@
        <span class="background-letter"></span>

        <span class="background-letter @classw1g1c0" id="TextGuess1Char0" type="text"> @w1g1c0 </span>
        <span class="background-letter @classw1g1c1" id="TextGuess1Char1" type="text"> @w1g1c1 </span>
        <span class="background-letter @classw1g1c2" id="TextGuess1Char2" type="text"> @w1g1c2 </span>
        <span class="background-letter @classw1g1c3" id="TextGuess1Char3" type="text"> @w1g1c3 </span>
        <span class="background-letter @classw1g1c4" id="TextGuess1Char4" type="text"> @w1g1c4 </span>

        @*empty block*@
        <span class="background-letter"></span>

        <span class="background-letter @classw2g1c0" id="TextGuess1Char0" type="text"> @w2g1c0 </span>
        <span class="background-letter @classw2g1c1" id="TextGuess1Char1" type="text"> @w2g1c1 </span>
        <span class="background-letter @classw2g1c2" id="TextGuess1Char2" type="text"> @w2g1c2 </span>
        <span class="background-letter @classw2g1c3" id="TextGuess1Char3" type="text"> @w2g1c3 </span>
        <span class="background-letter @classw2g1c4" id="TextGuess1Char4" type="text"> @w2g1c4 </span>
    </div>

    <div>
        <span class="background-letter @classw0g2c0" id="TextGuess2Char0" type="text"> @w0g2c0 </span>
        <span class="background-letter @classw0g2c1" id="TextGuess2Char1" type="text"> @w0g2c1 </span>
        <span class="background-letter @classw0g2c2" id="TextGuess2Char2" type="text"> @w0g2c2 </span>
        <span class="background-letter @classw0g2c3" id="TextGuess2Char3" type="text"> @w0g2c3 </span>
        <span class="background-letter @classw0g2c4" id="TextGuess2Char4" type="text"> @w0g2c4 </span>

        @*empty block*@
        <span class="background-letter"></span>

        <span class="background-letter @classw1g2c0" id="TextGuess2Char0" type="text"> @w1g2c0 </span>
        <span class="background-letter @classw1g2c1" id="TextGuess2Char1" type="text"> @w1g2c1 </span>
        <span class="background-letter @classw1g2c2" id="TextGuess2Char2" type="text"> @w1g2c2 </span>
        <span class="background-letter @classw1g2c3" id="TextGuess2Char3" type="text"> @w1g2c3 </span>
        <span class="background-letter @classw1g2c4" id="TextGuess2Char4" type="text"> @w1g2c4 </span>

        @*empty block*@
        <span class="background-letter"></span>

        <span class="background-letter @classw2g2c0" id="TextGuess2Char0" type="text"> @w2g2c0 </span>
        <span class="background-letter @classw2g2c1" id="TextGuess2Char1" type="text"> @w2g2c1 </span>
        <span class="background-letter @classw2g2c2" id="TextGuess2Char2" type="text"> @w2g2c2 </span>
        <span class="background-letter @classw2g2c3" id="TextGuess2Char3" type="text"> @w2g2c3 </span>
        <span class="background-letter @classw2g2c4" id="TextGuess2Char4" type="text"> @w2g2c4 </span>

    </div>

    <div>
        <span class="background-letter @classw0g3c0" id="TextGuess3Char0" type="text"> @w0g3c0 </span>
        <span class="background-letter @classw0g3c1" id="TextGuess3Char1" type="text"> @w0g3c1 </span>
        <span class="background-letter @classw0g3c2" id="TextGuess3Char2" type="text"> @w0g3c2 </span>
        <span class="background-letter @classw0g3c3" id="TextGuess3Char3" type="text"> @w0g3c3 </span>
        <span class="background-letter @classw0g3c4" id="TextGuess3Char4" type="text"> @w0g3c4 </span>

        @*empty block*@
        <span class="background-letter"></span>

        <span class="background-letter @classw1g3c0" id="TextGuess3Char0" type="text"> @w1g3c0 </span>
        <span class="background-letter @classw1g3c1" id="TextGuess3Char1" type="text"> @w1g3c1 </span>
        <span class="background-letter @classw1g3c2" id="TextGuess3Char2" type="text"> @w1g3c2 </span>
        <span class="background-letter @classw1g3c3" id="TextGuess3Char3" type="text"> @w1g3c3 </span>
        <span class="background-letter @classw1g3c4" id="TextGuess3Char4" type="text"> @w1g3c4 </span>

        @*empty block*@
        <span class="background-letter"></span>

        <span class="background-letter @classw2g3c0" id="TextGuess3Char0" type="text"> @w2g3c0 </span>
        <span class="background-letter @classw2g3c1" id="TextGuess3Char1" type="text"> @w2g3c1 </span>
        <span class="background-letter @classw2g3c2" id="TextGuess3Char2" type="text"> @w2g3c2 </span>
        <span class="background-letter @classw2g3c3" id="TextGuess3Char3" type="text"> @w2g3c3 </span>
        <span class="background-letter @classw2g3c4" id="TextGuess3Char4" type="text"> @w2g3c4 </span>
    </div>

    <div>
        <span class="background-letter @classw0g4c0" id="TextGuess4Char0" type="text"> @w0g4c0 </span>
        <span class="background-letter @classw0g4c1" id="TextGuess4Char1" type="text"> @w0g4c1 </span>
        <span class="background-letter @classw0g4c2" id="TextGuess4Char2" type="text"> @w0g4c2 </span>
        <span class="background-letter @classw0g4c3" id="TextGuess4Char3" type="text"> @w0g4c3 </span>
        <span class="background-letter @classw0g4c4" id="TextGuess4Char4" type="text"> @w0g4c4 </span>

        @*empty block*@
        <span class="background-letter"></span>

        <span class="background-letter @classw1g4c0" id="TextGuess4Char0" type="text"> @w1g4c0 </span>
        <span class="background-letter @classw1g4c1" id="TextGuess4Char1" type="text"> @w1g4c1 </span>
        <span class="background-letter @classw1g4c2" id="TextGuess4Char2" type="text"> @w1g4c2 </span>
        <span class="background-letter @classw1g4c3" id="TextGuess4Char3" type="text"> @w1g4c3 </span>
        <span class="background-letter @classw1g4c4" id="TextGuess4Char4" type="text"> @w1g4c4 </span>

        @*empty block*@
        <span class="background-letter"></span>

        <span class="background-letter @classw2g4c0" id="TextGuess4Char0" type="text"> @w2g4c0 </span>
        <span class="background-letter @classw2g4c1" id="TextGuess4Char1" type="text"> @w2g4c1 </span>
        <span class="background-letter @classw2g4c2" id="TextGuess4Char2" type="text"> @w2g4c2 </span>
        <span class="background-letter @classw2g4c3" id="TextGuess4Char3" type="text"> @w2g4c3 </span>
        <span class="background-letter @classw2g4c4" id="TextGuess4Char4" type="text"> @w2g4c4 </span>
    </div>

    <div>
        <span class="background-letter @classw0g5c0" id="TextGuess5Char0" type="text"> @w0g5c0 </span>
        <span class="background-letter @classw0g5c1" id="TextGuess5Char1" type="text"> @w0g5c1 </span>
        <span class="background-letter @classw0g5c2" id="TextGuess5Char2" type="text"> @w0g5c2 </span>
        <span class="background-letter @classw0g5c3" id="TextGuess5Char3" type="text"> @w0g5c3 </span>
        <span class="background-letter @classw0g5c4" id="TextGuess5Char4" type="text"> @w0g5c4 </span>

        @*empty block*@
        <span class="background-letter"></span>

        <span class="background-letter @classw1g5c0" id="TextGuess5Char0" type="text"> @w1g5c0 </span>
        <span class="background-letter @classw1g5c1" id="TextGuess5Char1" type="text"> @w1g5c1 </span>
        <span class="background-letter @classw1g5c2" id="TextGuess5Char2" type="text"> @w1g5c2 </span>
        <span class="background-letter @classw1g5c3" id="TextGuess5Char3" type="text"> @w1g5c3 </span>
        <span class="background-letter @classw1g5c4" id="TextGuess5Char4" type="text"> @w1g5c4 </span>

        @*empty block*@
        <span class="background-letter"></span>

        <span class="background-letter @classw2g5c0" id="TextGuess5Char0" type="text"> @w2g5c0 </span>
        <span class="background-letter @classw2g5c1" id="TextGuess5Char1" type="text"> @w2g5c1 </span>
        <span class="background-letter @classw2g5c2" id="TextGuess5Char2" type="text"> @w2g5c2 </span>
        <span class="background-letter @classw2g5c3" id="TextGuess5Char3" type="text"> @w2g5c3 </span>
        <span class="background-letter @classw2g5c4" id="TextGuess5Char4" type="text"> @w2g5c4 </span>
    </div>

    <div>
        <span class="background-letter @classw0g6c0" id="TextGuess5Char0" type="text"> @w0g6c0 </span>
        <span class="background-letter @classw0g6c1" id="TextGuess5Char1" type="text"> @w0g6c1 </span>
        <span class="background-letter @classw0g6c2" id="TextGuess5Char2" type="text"> @w0g6c2 </span>
        <span class="background-letter @classw0g6c3" id="TextGuess5Char3" type="text"> @w0g6c3 </span>
        <span class="background-letter @classw0g6c4" id="TextGuess5Char4" type="text"> @w0g6c4 </span>

        @*empty block*@
        <span class="background-letter"></span>

        <span class="background-letter @classw1g6c0" id="TextGuess5Char0" type="text"> @w1g6c0 </span>
        <span class="background-letter @classw1g6c1" id="TextGuess5Char1" type="text"> @w1g6c1 </span>
        <span class="background-letter @classw1g6c2" id="TextGuess5Char2" type="text"> @w1g6c2 </span>
        <span class="background-letter @classw1g6c3" id="TextGuess5Char3" type="text"> @w1g6c3 </span>
        <span class="background-letter @classw1g6c4" id="TextGuess5Char4" type="text"> @w1g6c4 </span>

        @*empty block*@
        <span class="background-letter"></span>

        <span class="background-letter @classw2g6c0" id="TextGuess5Char0" type="text"> @w2g6c0 </span>
        <span class="background-letter @classw2g6c1" id="TextGuess5Char1" type="text"> @w2g6c1 </span>
        <span class="background-letter @classw2g6c2" id="TextGuess5Char2" type="text"> @w2g6c2 </span>
        <span class="background-letter @classw2g6c3" id="TextGuess5Char3" type="text"> @w2g6c3 </span>
        <span class="background-letter @classw2g6c4" id="TextGuess5Char4" type="text"> @w2g6c4 </span>
    </div>

    <div>
        <span class="background-letter @classw0g7c0" id="TextGuess5Char0" type="text"> @w0g7c0 </span>
        <span class="background-letter @classw0g7c1" id="TextGuess5Char1" type="text"> @w0g7c1 </span>
        <span class="background-letter @classw0g7c2" id="TextGuess5Char2" type="text"> @w0g7c2 </span>
        <span class="background-letter @classw0g7c3" id="TextGuess5Char3" type="text"> @w0g7c3 </span>
        <span class="background-letter @classw0g7c4" id="TextGuess5Char4" type="text"> @w0g7c4 </span>

        @*empty block*@
        <span class="background-letter"></span>

        <span class="background-letter @classw1g7c0" id="TextGuess5Char0" type="text"> @w1g7c0 </span>
        <span class="background-letter @classw1g7c1" id="TextGuess5Char1" type="text"> @w1g7c1 </span>
        <span class="background-letter @classw1g7c2" id="TextGuess5Char2" type="text"> @w1g7c2 </span>
        <span class="background-letter @classw1g7c3" id="TextGuess5Char3" type="text"> @w1g7c3 </span>
        <span class="background-letter @classw1g7c4" id="TextGuess5Char4" type="text"> @w1g7c4 </span>

        @*empty block*@
        <span class="background-letter"></span>

        <span class="background-letter @classw2g7c0" id="TextGuess5Char0" type="text"> @w2g7c0 </span>
        <span class="background-letter @classw2g7c1" id="TextGuess5Char1" type="text"> @w2g7c1 </span>
        <span class="background-letter @classw2g7c2" id="TextGuess5Char2" type="text"> @w2g7c2 </span>
        <span class="background-letter @classw2g7c3" id="TextGuess5Char3" type="text"> @w2g7c3 </span>
        <span class="background-letter @classw2g7c4" id="TextGuess5Char4" type="text"> @w2g7c4 </span>
    </div>

    <div>

        @foreach (string letter in keyboard_toprow)
        {
            <button id="keyboard-@letter" type="button" @onclick="@(() => KeyboardButtonPressed_Letter(Convert.ToChar(letter.ToLower())))">@letter</button>
        }

        <br />
        @foreach (string letter in keyboard_midrow)
        {
            <button id="keyboard-@letter" type="button" @onclick="@(() => KeyboardButtonPressed_Letter(Convert.ToChar(letter.ToLower())))">@letter</button>
        }

        <br />

        <button id="KeyboardEnter" @onclick="EnterPressed">Enter</button>

        @foreach (string letter in keyboard_botrow)
        {
            <button id="keyboard-@letter" type="button" @onclick="@(() => KeyboardButtonPressed_Letter(Convert.ToChar(letter.ToLower())))">@letter</button>
        }

        <button id="KeyboardBackspace" @onclick="BackspacePressed">Del</button>
    </div>
</div>

@code {

    protected ElementReference myDiv;  // set by the @ref attribute

    private ElementReference docRef;
    string KeyPressed = "";
    string guess = "";
    string guessResult = "";

    string w0g0c0, w0g0c1, w0g0c2, w0g0c3, w0g0c4,
        w0g1c0, w0g1c1, w0g1c2, w0g1c3, w0g1c4,
        w0g2c0, w0g2c1, w0g2c2, w0g2c3, w0g2c4,
        w0g3c0, w0g3c1, w0g3c2, w0g3c3, w0g3c4,
        w0g4c0, w0g4c1, w0g4c2, w0g4c3, w0g4c4,
        w0g5c0, w0g5c1, w0g5c2, w0g5c3, w0g5c4,
        w0g6c0, w0g6c1, w0g6c2, w0g6c3, w0g6c4,
    w0g7c0, w0g7c1, w0g7c2, w0g7c3, w0g7c4;

    string w1g0c0, w1g0c1, w1g0c2, w1g0c3, w1g0c4,
   w1g1c0, w1g1c1, w1g1c2, w1g1c3, w1g1c4,
   w1g2c0, w1g2c1, w1g2c2, w1g2c3, w1g2c4,
   w1g3c0, w1g3c1, w1g3c2, w1g3c3, w1g3c4,
   w1g4c0, w1g4c1, w1g4c2, w1g4c3, w1g4c4,
   w1g5c0, w1g5c1, w1g5c2, w1g5c3, w1g5c4,
   w1g6c0, w1g6c1, w1g6c2, w1g6c3, w1g6c4,
   w1g7c0, w1g7c1, w1g7c2, w1g7c3, w1g7c4;

    string w2g0c0, w2g0c1, w2g0c2, w2g0c3, w2g0c4,
w2g1c0, w2g1c1, w2g1c2, w2g1c3, w2g1c4,
w2g2c0, w2g2c1, w2g2c2, w2g2c3, w2g2c4,
w2g3c0, w2g3c1, w2g3c2, w2g3c3, w2g3c4,
w2g4c0, w2g4c1, w2g4c2, w2g4c3, w2g4c4,
w2g5c0, w2g5c1, w2g5c2, w2g5c3, w2g5c4,
w2g6c0, w2g6c1, w2g6c2, w2g6c3, w2g6c4,
w2g7c0, w2g7c1, w2g7c2, w2g7c3, w2g7c4;

    string classw0g0c0 = "background-lightgrey";
    string classw0g0c1 = "background-lightgrey";
    string classw0g0c2 = "background-lightgrey";
    string classw0g0c3 = "background-lightgrey";
    string classw0g0c4 = "background-lightgrey";
    string classw0g1c0 = "background-lightgrey";
    string classw0g1c1 = "background-lightgrey";
    string classw0g1c2 = "background-lightgrey";
    string classw0g1c3 = "background-lightgrey";
    string classw0g1c4 = "background-lightgrey";
    string classw0g2c0 = "background-lightgrey";
    string classw0g2c1 = "background-lightgrey";
    string classw0g2c2 = "background-lightgrey";
    string classw0g2c3 = "background-lightgrey";
    string classw0g2c4 = "background-lightgrey";
    string classw0g3c0 = "background-lightgrey";
    string classw0g3c1 = "background-lightgrey";
    string classw0g3c2 = "background-lightgrey";
    string classw0g3c3 = "background-lightgrey";
    string classw0g3c4 = "background-lightgrey";
    string classw0g4c0 = "background-lightgrey";
    string classw0g4c1 = "background-lightgrey";
    string classw0g4c2 = "background-lightgrey";
    string classw0g4c3 = "background-lightgrey";
    string classw0g4c4 = "background-lightgrey";
    string classw0g5c0 = "background-lightgrey";
    string classw0g5c1 = "background-lightgrey";
    string classw0g5c2 = "background-lightgrey";
    string classw0g5c3 = "background-lightgrey";
    string classw0g5c4 = "background-lightgrey";
    string classw0g6c0 = "background-lightgrey";
    string classw0g6c1 = "background-lightgrey";
    string classw0g6c2 = "background-lightgrey";
    string classw0g6c3 = "background-lightgrey";
    string classw0g6c4 = "background-lightgrey";
    string classw0g7c0 = "background-lightgrey";
    string classw0g7c1 = "background-lightgrey";
    string classw0g7c2 = "background-lightgrey";
    string classw0g7c3 = "background-lightgrey";
    string classw0g7c4 = "background-lightgrey";

    string classw1g0c0 = "background-lightgrey";
    string classw1g0c1 = "background-lightgrey";
    string classw1g0c2 = "background-lightgrey";
    string classw1g0c3 = "background-lightgrey";
    string classw1g0c4 = "background-lightgrey";
    string classw1g1c0 = "background-lightgrey";
    string classw1g1c1 = "background-lightgrey";
    string classw1g1c2 = "background-lightgrey";
    string classw1g1c3 = "background-lightgrey";
    string classw1g1c4 = "background-lightgrey";
    string classw1g2c0 = "background-lightgrey";
    string classw1g2c1 = "background-lightgrey";
    string classw1g2c2 = "background-lightgrey";
    string classw1g2c3 = "background-lightgrey";
    string classw1g2c4 = "background-lightgrey";
    string classw1g3c0 = "background-lightgrey";
    string classw1g3c1 = "background-lightgrey";
    string classw1g3c2 = "background-lightgrey";
    string classw1g3c3 = "background-lightgrey";
    string classw1g3c4 = "background-lightgrey";
    string classw1g4c0 = "background-lightgrey";
    string classw1g4c1 = "background-lightgrey";
    string classw1g4c2 = "background-lightgrey";
    string classw1g4c3 = "background-lightgrey";
    string classw1g4c4 = "background-lightgrey";
    string classw1g5c0 = "background-lightgrey";
    string classw1g5c1 = "background-lightgrey";
    string classw1g5c2 = "background-lightgrey";
    string classw1g5c3 = "background-lightgrey";
    string classw1g5c4 = "background-lightgrey";
    string classw1g6c0 = "background-lightgrey";
    string classw1g6c1 = "background-lightgrey";
    string classw1g6c2 = "background-lightgrey";
    string classw1g6c3 = "background-lightgrey";
    string classw1g6c4 = "background-lightgrey";
    string classw1g7c0 = "background-lightgrey";
    string classw1g7c1 = "background-lightgrey";
    string classw1g7c2 = "background-lightgrey";
    string classw1g7c3 = "background-lightgrey";
    string classw1g7c4 = "background-lightgrey";

    string classw2g0c0 = "background-lightgrey";
    string classw2g0c1 = "background-lightgrey";
    string classw2g0c2 = "background-lightgrey";
    string classw2g0c3 = "background-lightgrey";
    string classw2g0c4 = "background-lightgrey";
    string classw2g1c0 = "background-lightgrey";
    string classw2g1c1 = "background-lightgrey";
    string classw2g1c2 = "background-lightgrey";
    string classw2g1c3 = "background-lightgrey";
    string classw2g1c4 = "background-lightgrey";
    string classw2g2c0 = "background-lightgrey";
    string classw2g2c1 = "background-lightgrey";
    string classw2g2c2 = "background-lightgrey";
    string classw2g2c3 = "background-lightgrey";
    string classw2g2c4 = "background-lightgrey";
    string classw2g3c0 = "background-lightgrey";
    string classw2g3c1 = "background-lightgrey";
    string classw2g3c2 = "background-lightgrey";
    string classw2g3c3 = "background-lightgrey";
    string classw2g3c4 = "background-lightgrey";
    string classw2g4c0 = "background-lightgrey";
    string classw2g4c1 = "background-lightgrey";
    string classw2g4c2 = "background-lightgrey";
    string classw2g4c3 = "background-lightgrey";
    string classw2g4c4 = "background-lightgrey";
    string classw2g5c0 = "background-lightgrey";
    string classw2g5c1 = "background-lightgrey";
    string classw2g5c2 = "background-lightgrey";
    string classw2g5c3 = "background-lightgrey";
    string classw2g5c4 = "background-lightgrey";
    string classw2g6c0 = "background-lightgrey";
    string classw2g6c1 = "background-lightgrey";
    string classw2g6c2 = "background-lightgrey";
    string classw2g6c3 = "background-lightgrey";
    string classw2g6c4 = "background-lightgrey";
    string classw2g7c0 = "background-lightgrey";
    string classw2g7c1 = "background-lightgrey";
    string classw2g7c2 = "background-lightgrey";
    string classw2g7c3 = "background-lightgrey";
    string classw2g7c4 = "background-lightgrey";

    int guessRow = 0;
    int guessCol = 0;

    ArrayList attemptedGuesses = new ArrayList();

    string[] keyboard_toprow = new string[] { "Q", "W", "E", "R", "T", "Y", "U", "I", "O", "P" };
    string[] keyboard_midrow = new string[] { "A", "S", "D", "F", "G", "H", "J", "K", "L" };
    string[] keyboard_botrow = new string[] { "Z", "X", "C", "V", "B", "N", "M" };

    WordieGame wordieGame = new WordieGame(3);

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await docRef.FocusAsync();
        }
    }

    private async Task KeyboardEventHandler(KeyboardEventArgs args)
    {

        KeyPressed = args.Key;

        if (args.Key.Length == 1 && wordieGame.isPlaying)
        {
            char letter = char.Parse(args.Key);
            bool isLetter = char.IsLetter(letter);

            if (isLetter && guess.Length < 5)
            {
                guess += letter;

                ChangeLetter(letter.ToString().ToUpper());
                if (guessCol < 5)
                {
                    guessCol++;
                }

            }

            Console.WriteLine(guess);
        }


        if (args.Key == "Enter") { await EnterPressed(); }

        if (args.Key == "Backspace") { await BackspacePressed(); }


    }

    protected async Task KeyboardButtonPressed_Letter(char letter)
    {
        KeyPressed = "Key Pressed is " + letter;

        if (guess.Length < 5 && wordieGame.isPlaying)
        {
            guess += letter;

            ChangeLetter(letter.ToString().ToUpper());

            if (guessCol < 5)
            {
                guessCol++;
            }
            Console.WriteLine(guess);
        }

    }

    protected async Task EnterPressed()
    {
        KeyPressed = "Key Pressed is enter from EnterPressed()";

        if (guess.Length == 5 && wordieGame.isPlaying)
        {
            Console.WriteLine("enter: inputting guess");
            wordieGame.makeGuess(guess);

            // display result (temporary)
            @*guessResult = wordieGame.result;*@

        if (wordieGame.validGuess)
        {
            attemptedGuesses.Add(guess);

            for (int wordCount = 0; wordCount < wordieGame.wordsToGuess; wordCount++) {
                for (int i = 0; i < wordieGame.result.Length; i++)
                {
                    ChangeBackground(i, wordCount);
                }
            }

            // reset guess
            guess = "";

            guessRow++;
            guessCol = 0;

            await CheckGameState();
        }
    }
}

protected async Task CheckGameState()
{
    // game state
    int intGameState = wordieGame.checkGameState();
    Console.WriteLine("gameState: " + intGameState);

    // victory
    if (intGameState == 1) {
        guessResult = "You Won!";
        // todo: set up end screen (win)
    } else if (intGameState == -1) {
        guessResult = "You Lose! The correct words were " + wordieGame.answers[0] 
            + ", " + wordieGame.answers[1]
            + ", " + wordieGame.answers[2];
        // todo: set up end screen (lose)
    }
}


protected async Task BackspacePressed()
{
    KeyPressed = "Key Pressed is backspace from BackspacePressed()";
    if (guess.Length > 0)
    {
        guess = guess.Substring(0, guess.Length - 1);

        guessCol--;

        string letter = "";
        ChangeLetter(letter);

        Console.WriteLine(guess);
    }
}

private void ChangeBackground(int resultIndex, int wordToGuess) {
    string resultLetter = wordieGame.results[wordToGuess].Substring(resultIndex, 1); // c, f, or p

    string newClassBackground;

    // change background of each word guess letter
    switch (resultLetter)
    {
        case "c":
            newClassBackground = "background-green";
            break;
        case "p":
            newClassBackground = "background-yellow";
            break;
        default:
            newClassBackground = "background-grey";
            break;
    }

    // change background of keyboard letter
    string keyboard_id = "keyboard-" + resultLetter;

    switch (wordToGuess)
    {
        case 0:
            switch (guessRow)
            {
                case 0:
                    switch (resultIndex)
                    {
                        case 0:
                            classw0g0c0 = newClassBackground;
                            break;
                        case 1:
                            classw0g0c1 = newClassBackground;
                            break;
                        case 2:
                            classw0g0c2 = newClassBackground;
                            break;
                        case 3:
                            classw0g0c3 = newClassBackground;
                            break;
                        default:
                            classw0g0c4 = newClassBackground;
                            break;
                    }
                    break;

                case 1:
                    switch (resultIndex)
                    {
                        case 0:
                            classw0g1c0 = newClassBackground;
                            break;
                        case 1:
                            classw0g1c1 = newClassBackground;
                            break;
                        case 2:
                            classw0g1c2 = newClassBackground;
                            break;
                        case 3:
                            classw0g1c3 = newClassBackground;
                            break;
                        default:
                            classw0g1c4 = newClassBackground;
                            break;
                    }
                    break;

                case 2:
                    switch (resultIndex)
                    {
                        case 0:
                            classw0g2c0 = newClassBackground;
                            break;
                        case 1:
                            classw0g2c1 = newClassBackground;
                            break;
                        case 2:
                            classw0g2c2 = newClassBackground;
                            break;
                        case 3:
                            classw0g2c3 = newClassBackground;
                            break;
                        default:
                            classw0g2c4 = newClassBackground;
                            break;
                    }
                    break;

                case 3:
                    switch (resultIndex)
                    {
                        case 0:
                            classw0g3c0 = newClassBackground;
                            break;
                        case 1:
                            classw0g3c1 = newClassBackground;
                            break;
                        case 2:
                            classw0g3c2 = newClassBackground;
                            break;
                        case 3:
                            classw0g3c3 = newClassBackground;
                            break;
                        default:
                            classw0g3c4 = newClassBackground;
                            break;
                    }
                    break;

                case 4:
                    switch (resultIndex)
                    {
                        case 0:
                            classw0g4c0 = newClassBackground;
                            break;
                        case 1:
                            classw0g4c1 = newClassBackground;
                            break;
                        case 2:
                            classw0g4c2 = newClassBackground;
                            break;
                        case 3:
                            classw0g4c3 = newClassBackground;
                            break;
                        default:
                            classw0g4c4 = newClassBackground;
                            break;
                    }
                    break;

                case 5:
                    switch (resultIndex)
                    {
                        case 0:
                            classw0g5c0 = newClassBackground;
                            break;
                        case 1:
                            classw0g5c1 = newClassBackground;
                            break;
                        case 2:
                            classw0g5c2 = newClassBackground;
                            break;
                        case 3:
                            classw0g5c3 = newClassBackground;
                            break;
                        default:
                            classw0g5c4 = newClassBackground;
                            break;
                    }
                    break;

                case 6:
                    switch (resultIndex)
                    {
                        case 0:
                            classw0g6c0 = newClassBackground;
                            break;
                        case 1:
                            classw0g6c1 = newClassBackground;
                            break;
                        case 2:
                            classw0g6c2 = newClassBackground;
                            break;
                        case 3:
                            classw0g6c3 = newClassBackground;
                            break;
                        default:
                            classw0g6c4 = newClassBackground;
                            break;
                    }
                    break;
                default:
                    switch (resultIndex)
                    {
                        case 0:
                            classw0g7c0 = newClassBackground;
                            break;
                        case 1:
                            classw0g7c1 = newClassBackground;
                            break;
                        case 2:
                            classw0g7c2 = newClassBackground;
                            break;
                        case 3:
                            classw0g7c3 = newClassBackground;
                            break;
                        default:
                            classw0g7c4 = newClassBackground;
                            break;
                    }
                    break;
            }
            break;

        case 1:
            switch (guessRow)
            {
                case 0:
                    switch (resultIndex)
                    {
                        case 0:
                            classw1g0c0 = newClassBackground;
                            break;
                        case 1:
                            classw1g0c1 = newClassBackground;
                            break;
                        case 2:
                            classw1g0c2 = newClassBackground;
                            break;
                        case 3:
                            classw1g0c3 = newClassBackground;
                            break;
                        default:
                            classw1g0c4 = newClassBackground;
                            break;
                    }
                    break;

                case 1:
                    switch (resultIndex)
                    {
                        case 0:
                            classw1g1c0 = newClassBackground;
                            break;
                        case 1:
                            classw1g1c1 = newClassBackground;
                            break;
                        case 2:
                            classw1g1c2 = newClassBackground;
                            break;
                        case 3:
                            classw1g1c3 = newClassBackground;
                            break;
                        default:
                            classw1g1c4 = newClassBackground;
                            break;
                    }
                    break;

                case 2:
                    switch (resultIndex)
                    {
                        case 0:
                            classw1g2c0 = newClassBackground;
                            break;
                        case 1:
                            classw1g2c1 = newClassBackground;
                            break;
                        case 2:
                            classw1g2c2 = newClassBackground;
                            break;
                        case 3:
                            classw1g2c3 = newClassBackground;
                            break;
                        default:
                            classw1g2c4 = newClassBackground;
                            break;
                    }
                    break;

                case 3:
                    switch (resultIndex)
                    {
                        case 0:
                            classw1g3c0 = newClassBackground;
                            break;
                        case 1:
                            classw1g3c1 = newClassBackground;
                            break;
                        case 2:
                            classw1g3c2 = newClassBackground;
                            break;
                        case 3:
                            classw1g3c3 = newClassBackground;
                            break;
                        default:
                            classw1g3c4 = newClassBackground;
                            break;
                    }
                    break;

                case 4:
                    switch (resultIndex)
                    {
                        case 0:
                            classw1g4c0 = newClassBackground;
                            break;
                        case 1:
                            classw1g4c1 = newClassBackground;
                            break;
                        case 2:
                            classw1g4c2 = newClassBackground;
                            break;
                        case 3:
                            classw1g4c3 = newClassBackground;
                            break;
                        default:
                            classw1g4c4 = newClassBackground;
                            break;
                    }
                    break;

                case 5:
                    switch (resultIndex)
                    {
                        case 0:
                            classw1g5c0 = newClassBackground;
                            break;
                        case 1:
                            classw1g5c1 = newClassBackground;
                            break;
                        case 2:
                            classw1g5c2 = newClassBackground;
                            break;
                        case 3:
                            classw1g5c3 = newClassBackground;
                            break;
                        default:
                            classw1g5c4 = newClassBackground;
                            break;
                    }
                    break;

                case 6:
                    switch (resultIndex)
                    {
                        case 0:
                            classw1g6c0 = newClassBackground;
                            break;
                        case 1:
                            classw1g6c1 = newClassBackground;
                            break;
                        case 2:
                            classw1g6c2 = newClassBackground;
                            break;
                        case 3:
                            classw1g6c3 = newClassBackground;
                            break;
                        default:
                            classw1g6c4 = newClassBackground;
                            break;
                    }
                    break;
                default:
                    switch (resultIndex)
                    {
                        case 0:
                            classw1g7c0 = newClassBackground;
                            break;
                        case 1:
                            classw1g7c1 = newClassBackground;
                            break;
                        case 2:
                            classw1g7c2 = newClassBackground;
                            break;
                        case 3:
                            classw1g7c3 = newClassBackground;
                            break;
                        default:
                            classw1g7c4 = newClassBackground;
                            break;
                    }
                    break;
            }
            break;

        case 2:
            switch (guessRow)
            {
                case 0:
                    switch (resultIndex)
                    {
                        case 0:
                            classw2g0c0 = newClassBackground;
                            break;
                        case 1:
                            classw2g0c1 = newClassBackground;
                            break;
                        case 2:
                            classw2g0c2 = newClassBackground;
                            break;
                        case 3:
                            classw2g0c3 = newClassBackground;
                            break;
                        default:
                            classw2g0c4 = newClassBackground;
                            break;
                    }
                    break;

                case 1:
                    switch (resultIndex)
                    {
                        case 0:
                            classw2g1c0 = newClassBackground;
                            break;
                        case 1:
                            classw2g1c1 = newClassBackground;
                            break;
                        case 2:
                            classw2g1c2 = newClassBackground;
                            break;
                        case 3:
                            classw2g1c3 = newClassBackground;
                            break;
                        default:
                            classw2g1c4 = newClassBackground;
                            break;
                    }
                    break;

                case 2:
                    switch (resultIndex)
                    {
                        case 0:
                            classw2g2c0 = newClassBackground;
                            break;
                        case 1:
                            classw2g2c1 = newClassBackground;
                            break;
                        case 2:
                            classw2g2c2 = newClassBackground;
                            break;
                        case 3:
                            classw2g2c3 = newClassBackground;
                            break;
                        default:
                            classw2g2c4 = newClassBackground;
                            break;
                    }
                    break;

                case 3:
                    switch (resultIndex)
                    {
                        case 0:
                            classw2g3c0 = newClassBackground;
                            break;
                        case 1:
                            classw2g3c1 = newClassBackground;
                            break;
                        case 2:
                            classw2g3c2 = newClassBackground;
                            break;
                        case 3:
                            classw2g3c3 = newClassBackground;
                            break;
                        default:
                            classw2g3c4 = newClassBackground;
                            break;
                    }
                    break;

                case 4:
                    switch (resultIndex)
                    {
                        case 0:
                            classw2g4c0 = newClassBackground;
                            break;
                        case 1:
                            classw2g4c1 = newClassBackground;
                            break;
                        case 2:
                            classw2g4c2 = newClassBackground;
                            break;
                        case 3:
                            classw2g4c3 = newClassBackground;
                            break;
                        default:
                            classw2g4c4 = newClassBackground;
                            break;
                    }
                    break;

                case 5:
                    switch (resultIndex)
                    {
                        case 0:
                            classw2g5c0 = newClassBackground;
                            break;
                        case 1:
                            classw2g5c1 = newClassBackground;
                            break;
                        case 2:
                            classw2g5c2 = newClassBackground;
                            break;
                        case 3:
                            classw2g5c3 = newClassBackground;
                            break;
                        default:
                            classw2g5c4 = newClassBackground;
                            break;
                    }
                    break;

                case 6:
                    switch (resultIndex)
                    {
                        case 0:
                            classw2g6c0 = newClassBackground;
                            break;
                        case 1:
                            classw2g6c1 = newClassBackground;
                            break;
                        case 2:
                            classw2g6c2 = newClassBackground;
                            break;
                        case 3:
                            classw2g6c3 = newClassBackground;
                            break;
                        default:
                            classw2g6c4 = newClassBackground;
                            break;
                    }
                    break;
                default:
                    switch (resultIndex)
                    {
                        case 0:
                            classw2g7c0 = newClassBackground;
                            break;
                        case 1:
                            classw2g7c1 = newClassBackground;
                            break;
                        case 2:
                            classw2g7c2 = newClassBackground;
                            break;
                        case 3:
                            classw2g7c3 = newClassBackground;
                            break;
                        default:
                            classw2g7c4 = newClassBackground;
                            break;
                    }
                    break;
            }
            break;

        default:
            break;
    }

}


private void ChangeLetter(string letter)
{
    switch (guessRow)
    {
        case 0:
            switch (guessCol)
            {
                case 0:
                    w0g0c0 = letter;
                    w1g0c0 = letter;
                    w2g0c0 = letter;
                    break;
                case 1:
                    w0g0c1 = letter;
                    w1g0c1 = letter;
                    w2g0c1 = letter;
                    break;
                case 2:
                    w0g0c2 = letter;
                    w1g0c2 = letter;
                    w2g0c2 = letter;
                    break;
                case 3:
                    w0g0c3 = letter;
                    w1g0c3 = letter;
                    w2g0c3 = letter;
                    break;
                default:
                    w0g0c4 = letter;
                    w1g0c4 = letter;
                    w2g0c4 = letter;
                    break;
            }
            break;

        case 1:
            switch (guessCol)
            {
                case 0:
                    w0g1c0 = letter;
                    w1g1c0 = letter;
                    w2g1c0 = letter;
                    break;
                case 1:
                    w0g1c1 = letter;
                    w1g1c1 = letter;
                    w2g1c1 = letter;
                    break;
                case 2:
                    w0g1c2 = letter;
                    w1g1c2 = letter;
                    w2g1c2 = letter;
                    break;
                case 3:
                    w0g1c3 = letter;
                    w1g1c3 = letter;
                    w2g1c3 = letter;
                    break;
                default:
                    w0g1c4 = letter;
                    w1g1c4 = letter;
                    w2g1c4 = letter;
                    break;
            }
            break;

        case 2:
            switch (guessCol)
            {
                case 0:
                    w0g2c0 = letter;
                    w1g2c0 = letter;
                    w2g2c0 = letter;
                    break;
                case 1:
                    w0g2c1 = letter;
                    w1g2c1 = letter;
                    w2g2c1 = letter;
                    break;
                case 2:
                    w0g2c2 = letter;
                    w1g2c2 = letter;
                    w2g2c2 = letter;
                    break;
                case 3:
                    w0g2c3 = letter;
                    w1g2c3 = letter;
                    w2g2c3 = letter;
                    break;
                default:
                    w0g2c4 = letter;
                    w1g2c4 = letter;
                    w2g2c4 = letter;
                    break;
            }
            break;

        case 3:
            switch (guessCol)
            {
                case 0:
                    w0g3c0 = letter;
                    w1g3c0 = letter;
                    w2g3c0 = letter;
                    break;
                case 1:
                    w0g3c1 = letter;
                    w1g3c1 = letter;
                    w2g3c1 = letter;
                    break;
                case 2:
                    w0g3c2 = letter;
                    w1g3c2 = letter;
                    w2g3c2 = letter;
                    break;
                case 3:
                    w0g3c3 = letter;
                    w1g3c3 = letter;
                    w2g3c3 = letter;
                    break;
                default:
                    w0g3c4 = letter;
                    w1g3c4 = letter;
                    w2g3c4 = letter;
                    break;
            }
            break;

        case 4:
            switch (guessCol)
            {
                case 0:
                    w0g4c0 = letter;
                    w1g4c0 = letter;
                    w2g4c0 = letter;
                    break;
                case 1:
                    w0g4c1 = letter;
                    w1g4c1 = letter;
                    w2g4c1 = letter;
                    break;
                case 2:
                    w0g4c2 = letter;
                    w1g4c2 = letter;
                    w2g4c2 = letter;
                    break;
                case 3:
                    w0g4c3 = letter;
                    w1g4c3 = letter;
                    w2g4c3 = letter;
                    break;
                default:
                    w0g4c4 = letter;
                    w1g4c4 = letter;
                    w2g4c4 = letter;
                    break;
            }
            break;

        case 5:
            switch (guessCol)
            {
                case 0:
                    w0g5c0 = letter;
                    w1g5c0 = letter;
                    w2g5c0 = letter;
                    break;
                case 1:
                    w0g5c1 = letter;
                    w1g5c1 = letter;
                    w2g5c1 = letter;
                    break;
                case 2:
                    w0g5c2 = letter;
                    w1g5c2 = letter;
                    w2g5c2 = letter;
                    break;
                case 3:
                    w0g5c3 = letter;
                    w1g5c3 = letter;
                    w2g5c3 = letter;
                    break;
                default:
                    w0g5c4 = letter;
                    w1g5c4 = letter;
                    w2g5c4 = letter;
                    break;
            }
            break;

        case 6:
            switch (guessCol)
            {
                case 0:
                    w0g6c0 = letter;
                    w1g6c0 = letter;
                    w2g6c0 = letter;
                    break;
                case 1:
                    w0g6c1 = letter;
                    w1g6c1 = letter;
                    w2g6c1 = letter;
                    break;
                case 2:
                    w0g6c2 = letter;
                    w1g6c2 = letter;
                    w2g6c2 = letter;
                    break;
                case 3:
                    w0g6c3 = letter;
                    w1g6c3 = letter;
                    w2g6c3 = letter;
                    break;
                default:
                    w0g6c4 = letter;
                    w1g6c4 = letter;
                    w2g6c4 = letter;
                    break;
            }
            break;

        default:
            switch (guessCol)
            {
                case 0:
                    w0g7c0 = letter;
                    w1g7c0 = letter;
                    w2g7c0 = letter;
                    break;
                case 1:
                    w0g7c1 = letter;
                    w1g7c1 = letter;
                    w2g7c1 = letter;
                    break;
                case 2:
                    w0g7c2 = letter;
                    w1g7c2 = letter;
                    w2g7c2 = letter;
                    break;
                case 3:
                    w0g7c3 = letter;
                    w1g7c3 = letter;
                    w2g7c3 = letter;
                    break;
                default:
                    w0g7c4 = letter;
                    w1g7c4 = letter;
                    w2g7c4 = letter;
                    break;
            }
            break;
    }
}

}